<!--- <input appNumeric>

<div *appPermission="['admin', 'agent']">appPermission</div>


<p> {{ title }} </p>

<app-key-logger></app-key-logger>

<app-hero-list></app-hero-list>
-->
<!-- 
  <app-header></app-header>
-->
<!--
  <app-login></app-login>
  <app-reactive-login></app-reactive-login>
  <app-hero></app-hero>
  
  <nav>
    
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
  </nav>
  <router-outlet></router-outlet>
-->
<!-- 
    <app-footer></app-footer>
-->
<app-buttons></app-buttons>
<button mat-button (click)="showDialog()">Open dialog</button>
<app-table></app-table>
<app-copy-text></app-copy-text>
<app-flex></app-flex>
