<p>reactive-login works!</p>
<p>login works!</p>
<form (ngSubmit)="login()" [formGroup]="loginForm">
  <div>
    <input type="text" name="username" placeholder="Username" formControlName="username" required>
    <span class="help-block" *ngIf="username.touched && username.invalid">The username is not valid</span>
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" formControlName="password" required>
    <span class="help-block" *ngIf="password.touched && password.errors?.required">The password is required</span>
    <span class="help-block" *ngIf="password.touched && password.errors?.minlength">The password is too short</span>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<div>You are trying to login as <b>{{loginForm.controls.username.value}}</b></div>
<div>
  <h2>
    Hero form
  </h2>

  <form [formGroup]="heroDetails">
    <div>
      <label>Name</label>
      <input type="text" formControlName="name">
    </div>
    <div>
      <label for="">RealName</label>
      <input type="text" formControlName="realName">
    </div>

    <form formGroupName="biometricData">
      <div>
        <label>Age:</label>
        <input type="number" formControlName="age">
      </div>
      <div>
        <label>Eyes:</label>
        <input type="color" formControlName="eyes">
      </div>
      <div>
        <label>Hair:</label>
        <input type="color" formControlName="hair">
      </div>
    </form>
  </form>
  <button (click)="addPower()">Add power</button>
  <div *ngFor="let power of powers.controls; let i=index">
    <label>
      Power:
      <input type="text" [formControlName]="i">
    </label>
  </div>
</div>
